﻿@model AvatarAspx.Models.EmailsIndexModel
@{
    ViewBag.Title = "Manage avatars";
}

<h2>Manage avatars</h2>
<div>@Html.ActionLink("add a new image", "New", "Heads")</div>
@foreach (var image in Model.Images)
{
    <img src="@image.Url" alt="@image.Title" title="@image.Title" />
}