﻿@{
    ViewBag.Title = "New avatar";
}

<h2>New avatar</h2>
<div>@Html.ActionLink("From your computer", "NewComputer")</div>
<div>@Html.ActionLink("From URL", "NewURL")</div>
<div>@Html.ActionLink("From existing images", "NewExisting")</div>