﻿@{
    ViewBag.Title = "New avatar from your computer";
}

<h2>New avatar from your computer</h2>
@using (Html.BeginForm("Upload", "Heads", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>File: <input type="file" name="head_file" /></div>
    <div><input type="submit" value="Upload" /></div>
}