﻿@{
    ViewBag.Title = "AvatarAspx";
}

<h2>AvatarAspx</h2>
<h3>Register now if you havn't!</h3>
@using (Html.BeginForm("SignUp", "Site", FormMethod.Post))
{
    <div>Email: @Html.TextBox("email", "", new { size = 60 })</div>
    <div>Password: @Html.Password("password")</div>
    <div><input type="submit" value="Sign Up" /></div>
}
